GESTIA_API_PORT=8080
GESTIA_WEB_PORT=4200
GESTIA_SQL_PORT=1433
GESTIA_SQL_DATABASE=db-gestia-dev
GESTIA_SQL_PASSWORD=Replace_with_a_local_password_2026!
GESTIA_JWT_SECRET=Replace_with_a_very_long_local_jwt_secret_2026_min_32_chars
GESTIA_BOOTSTRAP_ADMIN_EMAIL=admin@gestia.local
GESTIA_BOOTSTRAP_ADMIN_PASSWORD=GestIA.Local.2026!
